@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rencata</h1>
    <p class="lead">My ASP.NET MVC Application to demonstrate Restaurant Reservation System.This is an Abstract Application to give an idea about the online system.</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you an Abstract idea about the Restuarant Reservation system , 
            Application is developed with in-built framework , User can implement his own features as per his requirement using Interface.

        </p>
      
    </div>
  
</div>